#BADCOPYRIGHT{
    position:fixed;
    background-color: rgb(249, 249, 71);
    border: 5px line black;
    width: 100%;
    text-align: center;
    bottom: 0;
}

#title{
    padding: 5px;
    line-height: 1;
    width:100%;
    background-color: rgb(249, 249, 71);
    font-family: 'Lora', serif;
    font-size: 38px;
}

body{
    background-color: rgb(240, 57, 57);
    color:black;
    
}

#Real{
    font-family: 'Lora', serif;
}

#note{
    font-family: 'Noto Serif', serif;
}

